body{
    font-size:14px;
}
.k-grid {
    font-size: 13px;
}
.k-input-inner {
    color: #6c757d !important;
}
.k-panelbar .k-item .k-link, .k-panelbar .k-panelbar-header .k-link {
    padding: 0.5rem 1.5rem;
    color: inherit;
    background: 0 0;
    text-decoration: none;
    font-weight: 400;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    gap: 0.5rem;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out;
}
.k-combobox {
    width: 100%;
    border-width: 0;
    box-sizing: border-box;
    outline: 0;
    background: 0 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    white-space: nowrap;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
.k-datepicker {
    width: 100%;
    border-width: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    white-space: nowrap;
    background: 0 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #6c757d !important;
    color: #fff;
}