<style>
    #myTaskListPanelbar.k-panelbar > .k-item > .k-link,
    #myTaskListPanelbar.k-panelbar > .k-item > .k-link .k-icon,
    #myTaskListPanelbar.k-panelbar > .k-item > .k-link:hover {
        background-color: #BDBDBD
    }

    .form-group .edit input{
        border: none;
    }
</style>
<div class="row py-4">
    <div class="col-md-12">
        <ul id="myTaskListPanelbar">
            <li class="k-state-active">
                <span class="k-link k-state-selected">
                    Team Task
                </span>
                <div style="padding: 10px;">
                    <div class="row">
                        <div class="col-md-12 px-1">
                            <div id="gridMyTaskSummery"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>